# System files
.DS_Store

# Cloud Crate Output
crate/

# Python
__pycache__/
*.pyc

# Swift/Xcode
.build/
*.xcodeproj
*.xcworkspace

# Virtual Env
.venv/

# Data Artifacts
data/

# Embeddings Tmp
embeddings/tmp/

# DuckDB
*.duckdb
.bucket_name
setup_iap_log.txt
setup_iap_log_2.txt
