# System files
.DS_Store

# Cloud Crate Output
crate/

# Python
__pycache__/
*.pyc

# Swift/Xcode
.build/
*.xcodeproj
*.xcworkspace

# Virtual Env
.venv/

# Data Artifacts
data/

# Audio Embedding Tmp
audio_embedding/tmp/

# DuckDB
*.duckdb
.bucket_name
