<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.along528.cloudcrate</string>
    <key>CFBundleName</key>
    <string>edge</string>
    <key>CFBundleExecutable</key>
    <string>edge</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>Cloud Crate needs access to your music library to export metadata and create playlists.</string>
</dict>
</plist>
